*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

/*nav-bar start*/
.nav-bg{
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
}
.navbar .navbar-brand{
    font-size: 30px;
    font-weight: 800;
}
.navbar a{
    color: #fff!important;
    font-weight: 500;
    font-size: 20px;
}
.navbar a img{
    height: 60px;
}
.navbar ul li:hover a{
    background-color: #e43a47;
    border-radius: 10px;
}
.navbar-toggler{
    outline:none!important;
}
/*nav-bar end*/

/*save live part start*/
.save-live-part{
    margin-top: 50px;
    background: #F1F4F8;
}
.save-live-part .container{
    padding: 50px;
}
.save-live-part .container .col-7{
    text-align: left;
}
.save-live-part .container .col-7 .header-part{
    margin-bottom: 20px;
}
.save-live-part .container .col-7 .below-header{
    font-size: 40px;
    background-color: #e43a47;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.save-live-part .container .col-7 p{
    line-height: 2rem;
    font-size: 18px;
    margin-bottom: 25px;
    text-align: justify;
}
.save-live-part .container .col-7 a{
    text-decoration: none;
    background-color: #e43a47;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}
.save-live-part .container .col-5{
    text-align: right;
}
.save-live-part img{
    justify-content: end;
    width: 80%;
    border-radius: 50%;
}
/*save live part end*/

/*Abou start*/
.about .row{
    margin: 50px 0;
    text-align: center;
}
.about .row h2{
    margin: 20px 0;
}
.about .display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "part_1 part_2 part_3 part_4";
    grid-column-gap: 25px;
}
.about .display .part_1{
    grid-area: part_1;
}
.about .display .part_2{
    grid-area: part_2;
}
.about .display .part_3{
    grid-area: part_3;
}
.about .display .part_4{
    grid-area: part_4;
}
.about .display img{
    width: 300px;
    height: 300px;
}
.about .row span{
    text-align: center;
}
.about .row span a{
    text-decoration: none;
    border: 2px solid #000;
    padding: 15px;
    border-radius: 25px;
    color: #000;
    transition: 0.5s;
}
.about .row a:hover{
    color: #fff;
    background-color: #e43a47;
    border-color: #e43a47;
}
/*about end*/

/*Gallery start*/
.gallery {
    background: #F1F4F8;
}

.gallery .row{
    padding-top: 50px ;
    margin-bottom: 30px;
    text-align: center;
}

.gallery .container .image img{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.gallery .container .image{
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "pic1 pic2 pic3 pic4"
                          "pic5 pic6 pic7 pic8"
                          "pic9 pic10 pic10 pic10";
    grid-gap: 30px;
    padding-bottom: 50px;
}
.gallery .container .image .pic1{
    grid-area: pic1;
}
.gallery .container .image .pic2{
    grid-area: pic2;
}
.gallery .container .image .pic3{
    grid-area: pic3;
}
.gallery .container .image .pic4{
    grid-area: pic4;
}
.gallery .container .image .pic5{
    grid-area: pic5;
}
.gallery .container .image .pic6{
    grid-area: pic6;
}
.gallery .container .image .pic7{
    grid-area: pic7;
}
.gallery .container .image .pic8{
    grid-area: pic8;
}
.gallery .container .image .pic9{
    grid-area: pic9;
}
.gallery .container .image .pic10{
    grid-area: pic10;
}
.gallery .container .image img:hover{
    transform: scale3d(1.1,1.1,1.1);
}
/*Gallery End*/

/*contact start*/
.main-part {
    background: #F5FAF9;
}

main {
    max-width: 1250px;
    margin: 0 auto;
    padding-bottom: 50px;

}

main p {
    color: rgb(15, 15, 15);
}

main .main-head {
    text-align: center;
    padding-top: 50px;
}

main .main-head p {
    max-width: 750px;
    margin: 0 auto;
}

main .main-hr {
    max-width: 200px;
    margin: 0 auto;
    height: 3px;
    margin-top: 20px;
}

main .main-internal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas: "detail form-part";
    max-width: 1000px;
    margin: 100px auto 0 auto;
}

main .main-internal .detail {
    grid-area: detail;
}

main .main-internal .form-part {
    grid-area: form-part;
    text-align: -moz-right;
}

main .main-internal .form-part .col-md-6 {
    width: 100%;
}

main #cf-submit .submit-btn {
    background: #ffffff;
    padding: 5px 15px;
    border: 1px solid #000;
    color: #000;
    border-radius: 5px;
    transition: 0.5s;
}

main #cf-submit .submit-btn:hover {
    background: #e43a47;
    color: #ffff;
    border-color: #e43a47;
}
.check {
    margin: 12px 0;
    font-size: 12px;
    text-align: center;
}

.below-form {
    font-size: 12px;
    text-align: center;
    color: #999;
    margin-bottom: 15px;
}

.below-form a {
    text-decoration: none;
}
/*contact end*/

/*footer*/
footer{
    background-color: #181818;
    color: #7f7f7f;
    padding: 50px 0;
    font-size: 14px;
}
footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;

}

footer .title{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid;
    margin-bottom: 30px;
    padding: 0 0 5px 0;
}

footer p {
    margin-bottom: 10px;
}
footer .linksContainer ul {
    list-style-type: none;
}

footer .linksContainer ul li a{
    text-decoration: none;
    color: #7f7f7f;
    margin-bottom: 10px;
    display: inline-block;
}

footer .newsLetterContainer img{
    height: 150px;
}
footer .newsLetterContainer input {
    background-color: transparent;
    border: 1px solid #7f7f7f;
    outline: none;
    padding: 10px 15px;
    width: 100%;
    margin-top: 10px;
    color: #ccc;
    border-radius: 30px;
}
/*footer*/

/*responsive start*/
@media screen(max-width: 1200px) {
    
}
/*responsive end*/